*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(114, 93, 93)
}
.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    margin: auto;
    background-color: rgb(166, 177, 202);
    border-radius: 20px;
    padding: 10px;
}

input{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    border-color: brown;
    font-size: 20px;
}

button{
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid;
}

.informations{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

.ticket{
    background-color: rgb(201, 211, 112);
    border-radius: 20px;
    margin-bottom: 0;
}





